.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    color: white;
    z-index: 100;
    font-size: 20px;
    transition: opacity, left .22s ease-in;
}

.MenuToggle:hover {
    opacity: .7;

}

.MenuToggle.open {
    left: 320px
}