.auth {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
    color: black
}
.auth > div {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
}
.auth h1 {
    text-align: center;
    color: #fff;
}

.authForm {
    background: #eee;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}