ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: center;
}
.header li {
    margin: 10px;
}
.ul {
    border: 3px solid black;
    width: 300px;
    height: 300px;
    border-radius: 4px;
    padding: 10px
}
.rout {
    display: flex;
    justify-content: center;
}

a.active {
    font-weight: bold;
    color: red;
}
.block {
    background: #554215;
}